<div id="cart">
    <div class="cart--container">
        <div class="cart--header">
            <button class="cart-icon" onclick="ToggleCart()">
                <svg width="9" height="18" viewBox="0 0 9 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.60584 2.07251C8.68102 1.99296 8.7398 1.89937 8.77881 1.79709C8.81782 1.69482 8.83631 1.58586 8.83321 1.47644C8.83012 1.36703 8.8055 1.25929 8.76077 1.15938C8.71604 1.05948 8.65207 0.969363 8.57251 0.894181C8.49295 0.818999 8.39936 0.760224 8.29708 0.721211C8.19481 0.682198 8.08585 0.663711 7.97644 0.666807C7.86702 0.669902 7.75928 0.694519 7.65937 0.739251C7.55947 0.783983 7.46935 0.847955 7.39417 0.927514L0.310839 8.42751C0.164559 8.58224 0.0830536 8.78709 0.0830536 9.00001C0.0830536 9.21294 0.164559 9.41779 0.310839 9.57251L7.39417 17.0733C7.46886 17.1546 7.55895 17.2203 7.65923 17.2665C7.7595 17.3127 7.86795 17.3385 7.97828 17.3424C8.08861 17.3463 8.19861 17.3283 8.30191 17.2893C8.40521 17.2504 8.49974 17.1913 8.58 17.1155C8.66027 17.0397 8.72468 16.9487 8.76948 16.8478C8.81429 16.7469 8.8386 16.6381 8.841 16.5277C8.84341 16.4174 8.82386 16.3076 8.78349 16.2049C8.74312 16.1021 8.68273 16.0084 8.60584 15.9292L2.06251 9.00001L8.60584 2.07251Z" fill="black"/>
                </svg>
            </button>
            <div style="text-align: center; width: 100%;">My cart</div>
        </div>
        <div class="cart--body">
            {% for item in cart.items %}
                <div class="cart--element">
                    <button class="cart-icon cart--remove" data-variantid="{{ item.variant_id }}" onclick="DeleteItemCart(this)">
                        <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.4375 0.568737C8.37968 0.510797 8.311 0.46483 8.23539 0.433467C8.15978 0.402103 8.07873 0.38596 7.99688 0.38596C7.91502 0.38596 7.83397 0.402103 7.75836 0.433467C7.68275 0.46483 7.61407 0.510797 7.55625 0.568737L4.5 3.61874L1.44375 0.562487C1.38589 0.504623 1.31719 0.458723 1.24159 0.427408C1.16599 0.396092 1.08496 0.379974 1.00313 0.379974C0.921296 0.379974 0.840265 0.396092 0.764663 0.427408C0.68906 0.458723 0.620366 0.504623 0.562502 0.562487C0.504639 0.620351 0.458739 0.689045 0.427423 0.764648C0.396107 0.84025 0.37999 0.921281 0.37999 1.00311C0.37999 1.08494 0.396107 1.16597 0.427423 1.24158C0.458739 1.31718 0.504639 1.38587 0.562502 1.44374L3.61875 4.49999L0.562502 7.55624C0.504639 7.6141 0.458739 7.68279 0.427423 7.7584C0.396107 7.834 0.37999 7.91503 0.37999 7.99686C0.37999 8.07869 0.396107 8.15972 0.427423 8.23533C0.458739 8.31093 0.504639 8.37962 0.562502 8.43749C0.620366 8.49535 0.68906 8.54125 0.764663 8.57257C0.840265 8.60388 0.921296 8.62 1.00313 8.62C1.08496 8.62 1.16599 8.60388 1.24159 8.57257C1.31719 8.54125 1.38589 8.49535 1.44375 8.43749L4.5 5.38124L7.55625 8.43749C7.61411 8.49535 7.68281 8.54125 7.75841 8.57257C7.83401 8.60388 7.91504 8.62 7.99688 8.62C8.07871 8.62 8.15974 8.60388 8.23534 8.57257C8.31094 8.54125 8.37964 8.49535 8.4375 8.43749C8.49536 8.37962 8.54126 8.31093 8.57258 8.23533C8.6039 8.15972 8.62001 8.07869 8.62001 7.99686C8.62001 7.91503 8.6039 7.834 8.57258 7.7584C8.54126 7.68279 8.49536 7.6141 8.4375 7.55624L5.38125 4.49999L8.4375 1.44374C8.675 1.20624 8.675 0.806237 8.4375 0.568737Z" fill="#7D7878"/>
                        </svg>
                    </button>
                    <img src="{{ item.image | img_url }}" class="cart--image">
                    <div style="display: flex; flex-direction: column; margin-left: 24px;">
                        <div style="
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 16.41px;
                            text-align: left;
                            text-underline-position: from-font;
                            text-decoration-skip-ink: none;
                        ">{{ item.product.title }}</div>
                        <div class="cart--option">Qty: {{ item.quantity }}</div>
                        <div style="
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 18.75px;
                            text-align: left;
                            text-underline-position: from-font;
                            text-decoration-skip-ink: none;
                        ">{{ item.price | money }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="cart--footer">
            <p style="
                font-size: 18px;
                font-weight: bold;
                line-height: 21.09px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
            ">Price Details</p>
            <div style="display: flex; flex-direction: column;">
                <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;
                    font-size: 14px;
                    line-height: 16.41px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                ">
                    <div>Total Product Price</div>
                    <div>{{ cart.original_total_price | money }}</div>
                </div>
                <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;
                    font-size: 14px;
                    line-height: 16.41px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                ">
                    <div>Total Discounts</div>
                    <div>{{ cart.total_discount | money }}</div>
                </div>
            </div>
            <div style="
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                font-size: 18px;
                font-weight: bold;
                line-height: 21.09px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                margin: 18px 0;
            ">
                <div>Order Total</div>
                <div>{{ cart.total_price | money }}</div>
            </div>
        </div>
    </div>
</div>

<script>
    const CART_CONTAINER = document.querySelector('#cart');

    function ToggleCart() {
        CART_CONTAINER.classList.toggle('active');
    }

    function DeleteItemCart(target) {
        fetch(window.Shopify.routes.root + 'cart/change.js', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                "items": [
                    {
                        "id": +target.dataset.variantid,
                        "quantity": 0,
                    },
                ]})
            })
            .then(response => {
                return response.json();
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }
</script>