    {%- if page.handle -%}
        <div class="header--container header--container--absolute">
    {%- else -%}
        <div class="header--container">
    {%- endif -%}
            {{ page.handle }}
    {% for block in section.blocks %}
        {% case block.type %}
            {% when 'logo' %}
                {{ block.settings.logo | image_url: width: 145 | image_tag }}
        {% endcase %}
    {% endfor %}
    <nav class="navbar">
        {% for link in section.settings.menu.links %}
            <nav-element url="{{ link.url }}" name="{{ link.title }}"></nav-element>
        {% endfor %}
        {% render 'cart-modal-button' %}
    </nav>
    {% render 'burger', class: 'burgerIcon', onclick: 'Toggle()' %}
    <nav class="navbarAdaptive">
        <div class="navbarAdaptive--header">
            {% for block in section.blocks %}
                {% case block.type %}
                    {% when 'logo' %}
                        <img src="{{ block.settings.logo | image_url: width: 145 }}" alt="Company" class="logoAdaptive">
                {% endcase %}
            {% endfor %}
            {% render 'cross', class: 'crossIcon', onclick: 'Toggle()' %}
        </div>
        <div class="nav--elements--adaptive" style="padding: 118px 90px 0 90px;">
            {% for link in section.settings.menu.links %}
                <nav-element url="{{ link.url }}" name="{{ link.title }}"></nav-element>
            {% endfor %}
            {% render 'cart-modal-button' %}
        </div>
    </nav>
</div>

<script>

    function Toggle(){
        document.querySelector('.navbarAdaptive').classList.toggle('active');
    }

</script>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Navigation"
    }
  ],
  "blocks": [
    {
      "name": "Logo image",
      "type": "logo",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        }
      ]
    }
  ]
}
{% endschema %}